@font-face
{
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}
body
{
  background: #4f4f4f;
}
h1
{
  color: #ffffff;
  font-family: "Raleway";
  font-size: 120px;
  letter-spacing: 20px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 50%;
  width: 100%;
  left: 0;
  text-align: center;
}
header
{
  color: #ffffff;
  font-family: "Raleway";
  font-size: 30px;
  letter-spacing: 5px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 5%;
}
