@font-face
{
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}
@font-face
{
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face
{
  font-family: "Open Sans Thin";
  src: url("../fonts/OpenSans-Light.ttf");
}
body
{
  background: #4f4f4f;
}
h1
{
  color: #ffffff;
  font-family: "Raleway";
  font-size: 120px;
  letter-spacing: 20px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 50%;
  width: 100%;
  left: 0;
  text-align: center;
}
h2
{
  width: 80%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
  left: 20px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 60px;
}
h3
{
  width: 80%;
  overflow: hidden;
  margin: 60px 0px -20px 0px;
  position: relative;
  left: 25px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 45px;
}
.sectionp
{
  width: 80%;
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 25px;
  color: #ffffff;
  font-family: "Open Sans Thin";
  font-size: 20px;
}
.sectionp a
{
  color: white;
}
ul
{
  position: relative;
  left: 20px;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li
{
  float: left;
}
li a
{
  font-family: "Raleway";
  font-size: 30px;
  letter-spacing = 5px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover
{
  background: #3a3a3a;
}

.timeline-elements
{
  position: absolute;
  padding: 0px;
}
.row1
{
  position: absolute;
  top: 75px;
}
.col1
{
  position: absolute;
  left: 50px;
}
.col2
{
  position: absolute;
  left: 350px;
}
.col3
{
  position: absolute;
  left: 650px;
}
.col4
{
  position: absolute;
  left: 950px;
}
.row2
{
  position: absolute;
  top: 400px;
}
.img-caption
{
  height: 60px;
  background-color: #ffffff;
  position: relative;
  margin: 0px;
  color: #000000;
  font-family: "Open Sans Thin";
  font-size: 20px;
  text-align: center;
}
.proj-img
{
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
h4
{
  padding: 5px;
}
.proj-link
{
  text-decoration: none;
}
.aboutmep
{
  width: 1150px;
  color: #ffffff;
  padding: 10px;
  font-family: "Open Sans Thin";
  font-size: 20px;
  position: relative;
  left: 50px;
}
.aboutmep a
{
  color: #ffffff;
}
.detailimage
{
  width: 500px;
  left: 1300px;
}
