@font-face
{
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}
body
{
  background: #4f4f4f;
}
h1
{
  color: #ffffff;
  font-family: "Raleway";
  font-size: 120px;
  letter-spacing: 20px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 50%;
  width: 100%;
  left: 0;
  text-align: center;
}
.header
{
  
  top: 0;
  left: 0;
}
ul .header-elements
{
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #9c9c9c;
}
li
{
 float: left;
}
li a
{
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Raleway";
  font-size: 30px;
  letter-spacing: 5px;
  position: absolute;
  margin: 0;
  padding: 0;
}
li a:hover
{
  color: #ffffff;
}
